h3 {
    margin-bottom: 20px;
    float: left;
}

a {
    float: right;
}

a i {
    font-size: 18px;
}

table thead {
    background-color: #1976d2;
    color: white;
}

table tbody {
    font-size: 20px;
}

table tbody tr:nth-child(odd) {
    background-color: white;
}

table tbody td {
    border: none;
}

table tbody i {
    font-size: 23px;
    display: contents;
    cursor: pointer;
}

table tbody .bi-eye-fill {
    color: #1976d2;
}

table tbody .bi-pencil-fill {
    color: #1976d2;
}

table tbody .bi-x-square-fill {
    color: red;
}